*{box-sizing: border-box;}
::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #011C55;  
  width: 100%;
  cursor: url('../public/img/pointer.png'), pointer;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App >div.active{
  transform: translateY(0%);
  opacity: 1;
}

.about, .skills, .projects, .contact{
  opacity: 0.3;
  transform: translateY(50%);
  transition: 1.5s;
}

/* =====Main===== */
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 350px 10% 400px;
}
.main >div{
  color: #D3F8AE;
  font-size: 118px;
  font-weight: 700;
  font-family: 'PyeongchangPeace';
}


/* =====About===== */
.about{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  width: 100%;
  padding: 70px 10% 150px;
  position: relative;
  overflow: hidden; 
}
.about_1{
  display: flex;
  flex-direction: column;
  gap: 30px;  
  font-family: 'AstaSans';
}
.about_1 >div:nth-of-type(1){
  color: #D3F8AE;
  font-size: 50px;
}
.about_1 >div:nth-of-type(2){
  color: #D3F8AE;
  font-size: 65px;
  font-weight: 100;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about_1 >div:nth-of-type(2) >span{
  color: #D3F8AE;
  font-weight: 700;
  padding-left: 20px;
}
.cube{}
.cube >div{  
  width: 580px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite ;
}
@keyframes rotate {
  0%, 20%   { transform: rotateX(0deg); }     
  25%, 45%  { transform: rotateX(90deg); }    
  50%, 70%  { transform: rotateX(180deg); }  
  75%, 95%  { transform: rotateX(270deg); }  
  100%      { transform: rotateX(360deg); }  
}
.cube >div >span{
  position: absolute;
  width: 100%; height: 100%;
  text-align: center;
  left: 0;  top: 0;
}
.top{
  background-color: #c2e99b;
  color: #011C55;
  font-weight: 300;  
  transform: rotateX(90deg) translateZ(39px);
}
.front{
  background-color: #D3F8AE;
  color: #011C55;
  font-weight: 300;
  transform: rotateX(0deg) translateZ(39px);
}
.bottom{
  background-color: #c2e99b;
  color: #011C55;
  font-weight: 300;
  transform: rotateX(-90deg) translateZ(39px);
}
.back{
  background-color: #D3F8AE;
  color: #011C55;
  font-weight: 300;
  transform: rotateX(180deg) translateZ(39px);
}
.about_1 >div:nth-of-type(3){
  color: #D3F8AE;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 5%;
}
.about_1 >div:nth-of-type(3) >span{
  font-weight: 500;
}
.about_2{
  display: flex;
  gap: 100px;
  height: 410px;
  align-items: center;
  font-family: 'AstaSans';
}
.about_2 >div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_2 >div >div{
  color: #D3F8AE;
  font-weight: 400;
}
.about_2 >div >div >div{
  font-size: 24px;
}
.about_2 >div >div >div:nth-of-type(1){
  font-size: 24px;
}
.about_2 >div >div >div:nth-of-type(2){
  border-left: 3px solid #D3F8AE;;
  padding: 0 20px;
}
.about_2 >div >div >div:nth-of-type(2) >p{
  font-size: 20px;
}
.about_2 >div >div >div:nth-of-type(2) >p >span{
  font-size: 15px;
  font-weight: 300;
}
.about_2 >img{
  border-radius: 100%;
  height: 100%;
}
.about_3{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'AstaSans';
}
.about_3 >div{}
.about_3 >div >div{
  background-color: #D3F8AE;
  font-size: 30px;
  font-weight: bold;
  color: #011C55;
  display: inline-block;
}
.about_3 >div >p{
  color: #D3F8AE;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1px;
}
.about_background{
  font-size: 550px;
  font-weight: 900;
  color: rgba(211, 248, 174, 10%);
  transform: rotate(-13deg);
  text-align: right;  
  position: absolute;
  top: 110px;
  left: -40px;
  z-index: -1;
}

/* =====skills===== */
.skills{
  padding: 150px 0 300px;;
}
.skills >div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 25%;
  gap: 40px;
}
.skills_1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills_1 >div:nth-of-type(1){
  color: #D3F8AE;
  font-size: 50px;
  font-weight: 800;
}
.skills_1 >div:nth-of-type(2){
  color: white;
  font-size: 24px;
}
.skills_2{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  font-family: 'AstaSans';
}
.skills_button{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.skills_button >button{
  color: #011C55;
  background-color: rgba(211, 248, 174, 45%);
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 40px;
  gap: 30px;
  display: inline-block;
  border: none;
}
.clickable{
  cursor: url('../public/img/curser.png'), pointer;
}
.skills_button >button.active{  
  background-color: #D3F8AE;
  transition: 0.3s;
}
.skills_list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
}
.skills_list >img{
  border-radius: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 100%);
  transition: 0.3s;
}
.skills_list >img.active{
  filter: blur(4px);
}
.skills_background{
  font-size: 30px;
  color: rgba(211, 248, 174, 10%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.skills_background >p{
  display: inline-block;
}
.left_to_right{animation: text-to-right 80s linear infinite;}
.right_to_left{animation: text-to-left 80s linear infinite;}
@keyframes text-to-right{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes text-to-left{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* =====projects===== */
.projects{
  width: 100%;
  overflow: hidden;
}
.projects_title{
  color: #D3F8AE;
  font-size: 50px;
  font-weight: 900;
  padding: 125px 25% 0;
  margin: 0 auto;
}
.projects_background{
  font-size: 250px;
  font-weight: 900;
  color: rgba(211, 248, 174, 10%);
  position: absolute !important;
  top: -95px; left: -20px;
  z-index: -1;
}
.projects_contents{
  font-family: 'AstaSans';
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 25% 0;
  gap: 50px; 
}
.projects_contents >li{
  display: flex;
  flex-direction: column;
}
.projects_contents >li > div:nth-of-type(1){
  width: 430px; height: 290px;
  transition: 0.3s;
}
.projects_contents >li > div:nth-of-type(1):hover{
  transform: scale(1.05);
  
}
.projects_contents >li > div:nth-of-type(1)> img{
  width: 100%; height: 100%;
  object-fit: cover;
}
.projects_contents >li >span{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; 
  margin: 10px 0 3px;
  gap: 5px;
}
.projects_contents >li >span >div{
  color: #D3F8AE;
  font-size: 24px;
  font-weight: 800;
}
.projects_contents >li >span >a{}
.projects_contents >li >span >a >img{
  width: 20px;
}
.projects_contents >li >div:nth-of-type(2){
  color: #D3F8AE;
  font-size: 18px;
}

.projects_popup_wrap{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 99;
  width:100%; height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.projects_popup{
  color: black;
  background-color: white;
  max-width: 600px; height: 800px;
  display: flex;
  flex-direction: column;
}
.popup_box{  
  overflow-y: auto; overflow-x: hidden;  
  scrollbar-width: thin;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.popup_title{
  display: flex;
  flex-direction: column;
}
.popup_title >div:nth-of-type(1){
  font-size: 28px;
  font-weight: 700;
}
.popup_title >div:nth-of-type(2){font-size: 16px;}
.popup_1{
  display: flex;
  flex-direction: column;
}
.popup_1 >div:nth-of-type(1){
  font-size: 16px;
  font-weight: 400;
  color: gray;
}
.popup_1 >div:nth-of-type(2){font-size: 16px;}
.popup_skills{
  display: flex;
  flex-direction: column;  
  border-top: 3px solid lightgray;
  padding-top: 15px;
  width: 100%;
}
.popup_skills >div:nth-of-type(1){
  font-size: 16px;
  color: gray;
}
.popup_skills >div:nth-of-type(2){
  display: flex;
  align-items: center;
  gap: 5px;
}
.popup_skills >div:nth-of-type(2) >img{
  width: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
}
.popup_2{
  display: flex;
  align-items: center;
  gap: 50px; width: 100%;
  border-bottom: 3px solid lightgray;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
.popup_date{
  display: flex;
  flex-direction: column;
}
.popup_date >div:nth-of-type(1){
  font-size: 16px;
  color: gray;
}
.popup_date >div:nth-of-type(2){font-size: 16px;}
.popup_person{
  display: flex;
  flex-direction: column;
}
.popup_person >div:nth-of-type(1){
  font-size: 16px;
  color: gray;
}
.popup_person >div:nth-of-type(2){font-size: 16px;}
.popup_link{
  font-size: 16px;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;  
}
.popup_link> span{
  
}
.popup_link> span >a{transition: 0.2s; color: black;}
.popup_link> span> a:visited {color: inherit;}
.popup_link> span> a:hover {
  color: pink;
  transition: 0.2s;
}
.popup_troubleshooting{
  font-size: 16px;
}
.popup_troubleshooting >div{
  color: gray;
}
.popup_troubleshooting >div{}
.popup_troubleshooting >div >div{}
.popup_troubleshooting >div:nth-of-type(1){padding-bottom: 20px;}
.popup_troubleshooting >div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup_shoot{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}
.popup_shoot> div:nth-of-type(1){
  color: black;
  font-weight: 500;
}
.popup_shoot> div:nth-of-type(2)> div:nth-of-type(2){color: black;}
.popup_shoot> div:nth-of-type(3)> div:nth-of-type(2){color: black;}
.popup_cancel{
  text-align: right;
  padding: 20px;
}

/* =====contact===== */
.contact{
  padding: 300px 0 250px;
  overflow: hidden;
}
.contact >div{
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.contact_title{
  color: #D3F8AE;
  font-size: 50px;
  font-weight: 900;
}
.contact_number{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.contact_number >img{}
.contact_number >div{
  color: #D3F8AE;
  font-size: 20px;
}
.contact_id{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30px;
}
.contact_github{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;
}
.contact_github >a{
  text-decoration: none;
  color: #D3F8AE;  
  font-size: 20px;   
}
.contact_github >img{    
  width: 100px; height: 100px;
}
.contact_github >div{
  color: #D3F8AE;
  font-size: 20px;
}
.contact_gmail{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_gmail >img{
  width: 100px; height: 75px;
}
.contact_gmail >div{
  color: #D3F8AE;
  font-size: 20px;
}
.contact_end{
  color: #D3F8AE;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.contact_github img,
.contact_gmail img {
  transition: filter 0.3s ease;
  width: 100px; 
  height: 100px;  
  transition: 0.3s;
}
.contact_github img:hover,
.contact_gmail img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  filter: drop-shadow(0 0 20px rgba(211,248,174,0.7))
          drop-shadow(0 0 40px rgba(211,248,174,0.5))
          drop-shadow(0 0 60px rgba(211,248,174,0.3))
          brightness(1.2);
}
.toast {
  position: fixed;
  bottom: 550px;
  left: 125px;  
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;

  opacity: 0;
  transform: translateY(30px);

  animation: toast 2s ease forwards;
}
@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

/* =====nav=====*/
nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: fixed;
  top: 40%; right: 5%;
  font-family: 'nanumgothic';
  opacity: 0; 
  transition: opacity 0.3s; 
  width: 100px;  
}
nav.active { opacity: 1; }
nav >a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}
nav >.active{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #D3F8AE;
  font-weight: 900;
}
nav a img {
  display: none;
  transition: opacity 0.3s;
}
nav a.active img {
  display: inline-block;
  opacity: 1;
  animation: spin 0.3s linear 1;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

/* =====tablet===== */
@media (min-width: 769px) and (max-width: 1024px){
  .ti-cursor{font-size: var(--ti-cursor-font-size, 60px);}
  .App {}

  .main {padding: 200px 10% 250px;}
  .main >div{font-size: 50px;}

  .cube >div {
    width: 300px;
    height: 40px;
  }
  .top {transform: rotateX(90deg) translateZ(20px);}
  .front {transform: rotateX(0deg) translateZ(20px);}
  .bottom {transform: rotateX(-90deg) translateZ(20px);}
  .back {transform: rotateX(180deg) translateZ(20px);}
  .about {
    gap: 50px;
    padding: 0 17%;
  }
  .about_1 >div:nth-of-type(1) {font-size: 26px;}
  .about_1 >div:nth-of-type(2) {font-size: 30px;}
  .about_1 >div:nth-of-type(2) >span {padding-left: 10px;}
  .about_1 >div:nth-of-type(3) {font-size: 20px;}
  .about_2 {
    gap: 30px;
    height: 300px;
  }
  .about_2 >div >div >div:nth-of-type(1) {font-size: 17px;}
  .about_2 >div >div >div:nth-of-type(2) >p {font-size: 13px;}
  .about_2 >div >div >div:nth-of-type(2) >p >span {font-size: 10px;}
  .about_3 >div >div {font-size: 20px;}
  .about_3 >div >p {font-size: 15px;}
  .about_background {
    font-size: 300px;
    top: 100px;
  }

  .skills {padding: 150px 0 200px;}
  .skills >div {
    gap: 20px;
    padding: 0 15%;
  }
  .skills_1 >div:nth-of-type(1) {font-size: 30px;}
  .skills_1 >div:nth-of-type(2) {font-size: 16px;}
  .skills_2 {
    padding: 0 50px;
  }
  .skills_2 >div:nth-of-type(1) >p {
    font-size: 16px;
    padding: 7px 15px;
  }
  .skills_2 >div:nth-of-type(2) {gap: 30px;}
  .skills_2 >div:nth-of-type(2) >img {width: 70px;}
  .skills_background {
    font-size: 13px;
    bottom: 10px;
    gap: 60px;
  }
  .skills_button {gap: 15px;}
  .skills_button >button {
    font-size: 14px;
    padding: 3px 10px;
  }

  .projects {padding-top: 54px;}
  .projects_title {
    font-size: 30px;
    padding: 0 20%;
  }
  .projects_background {
    font-size: 120px;
    top: -45px;
    left: -10px;
  }
  .projects_contents > li > span > div {font-size: 20px;}
  .projects_contents > li > span > a > img {width: 18px;}
  .projects_contents > li > div:nth-of-type(2) {font-size: 14px;}
  .projects_contents > li > div:nth-of-type(1) {width: 400px; height: 260px;}
  .popup_title > div:nth-of-type(1) {font-size: 24px;}
  .popup_title > div:nth-of-type(2) {font-size: 14px;}
  .popup_1 > div:nth-of-type(1) {font-size: 14px;}
  .popup_1 > div:nth-of-type(2) {font-size: 14px;}
  .popup_skills > div:nth-of-type(1) {font-size: 14px;}
  .popup_skills > div:nth-of-type(2) > img {width: 30px;}
  .popup_date > div:nth-of-type(1) {font-size: 14px;}
  .popup_date > div:nth-of-type(2) {font-size: 14px;}
  .popup_person > div:nth-of-type(1) {font-size: 14px;}
  .popup_person > div:nth-of-type(2) {font-size: 14px;}
  .popup_link {font-size: 14px;}
  .popup_cancel >img {width: 20px;}
  .popup_troubleshooting {font-size: 14px;}

  .contact {padding: 200px 0 200px;}
  .contact_title {font-size: 30px;}
  .contact_number >img {width: 10px;}
  .contact_number >div {font-size: 16px;}
  .contact_github >a {font-size: 18px;}
  .contact_github >a >img{width: 80px;}
  .contact_gmail >div {font-size: 18px;}
  .contact_gmail >img {width: 80px;}
  .contact_end {font-size: 22px;}
  .toast{
    font-size: 14px;
    left: 115px; 
    bottom: 480px;
    padding: 12px 20px;    
  }

  nav {
    top: 30px;
    right: 30px;
    padding: 5px 30px;
    width: 320px;
    gap: 30px;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(40 47 63 / 80%);
  }
    nav >a { font-size: 13px;}
    nav >a >img {width: 13px;}
  } 

/* =====mobile===== */
@media (max-width: 768px){
  .ti-cursor{font-size: var(--ti-cursor-font-size, 45px);}
  .App {}

  .main {padding: 100px 10% 120px;}
  .main >div{font-size: 23px;}

  .about {padding: 0 17%;}
  .about_1 >div:nth-of-type(1) {font-size: 18px;}
  .about_1 >div:nth-of-type(2) {
    font-size: 22px;
    align-items: flex-start;
  }
  .about_1 >div:nth-of-type(2) >span {padding-left: 10px;}
  .about_1 >div:nth-of-type(3) {font-size: 14px;}
  .about_2 {
    gap: 30px;
    height: 200px;
  }
  .top {transform: rotateX(90deg) translateZ(15px);}
  .front {transform: rotateX(0deg) translateZ(15px);}
  .bottom {transform: rotateX(-90deg) translateZ(15px);}
  .back {transform: rotateX(180deg) translateZ(15px);}
  .about_2 >div >div >div:nth-of-type(1) {font-size: 12px;}
  .about_2 > div > div > div:nth-of-type(2) {
    border-left: 1px solid #D3F8AE;
    padding: 0 10px;
  }
  .about_2 >div >div >div:nth-of-type(2) >p {font-size: 10px;}
  .about_2 >div >div >div:nth-of-type(2) >p >span {font-size: 8px;}
  .about_3 >div >div {font-size: 14px;}
  .about_3 >div >p {font-size: 12px;}
  .about_background {
    font-size: 110px;
    top: 300px; left: -20px;
  }
  .cube >div {
    width: 210px;
    height: 30px;
    margin-bottom: 7px;
  }
  

  .skills {padding: 100px 0 120px;}
  .skills >div {
    gap: 25px;
    padding: 0 10%;
  }
  .skills_1 >div:nth-of-type(1) {font-size: 25px;}
  .skills_1 >div:nth-of-type(2) {font-size: 12px;}
  .skills_2 {
    padding: 0;
    gap: 20px;
  }
  .skills_2 >div:nth-of-type(2) {gap: 20px;}
  .skills_2 >div:nth-of-type(2) >img {width: 40px;}
  .skills_background {
    font-size: 6px;
    bottom: 10px;
    gap: 40px;
  }
  .skills_button {gap: 10px;}
  .skills_button >button {
    font-size: 10px;
    padding: 2px 10px;
  }

  .projects {padding-top: 54px;}
  .projects_title {
    font-size: 25px;
    padding: 0 20%;
  }
  .projects_background {
    font-size: 55px;
    top: 22px;
    left: -3px;
  }
  .projects_contents > li > div:nth-of-type(1) {
    width: 250px;
    height: 140px;
  }
  .projects_contents {
    padding: 10px 0 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .projects_contents > li > span > div {font-size: 16px;}
  .projects_contents > li > span > a > img {width: 14px;}
  .projects_contents > li > div:nth-of-type(2) {font-size: 12px;}
  .projects_popup {width: 250px; height: 500px;}
  .popup_title > div:nth-of-type(1) {font-size: 20px;}
  .popup_title > div:nth-of-type(2) {font-size: 10px;}
  .popup_1 > div:nth-of-type(1) {font-size: 10px;}
  .popup_1 > div:nth-of-type(2) {font-size: 10px;}
  .popup_2 {gap: 17px;}
  .popup_skills > div:nth-of-type(1) {font-size: 10px;}
  .popup_skills > div:nth-of-type(2) > img {width: 20px;}
  .popup_date > div:nth-of-type(1) {font-size: 10px;}
  .popup_date > div:nth-of-type(2) {font-size: 10px;}
  .popup_person > div:nth-of-type(1) {font-size: 10px;}
  .popup_person > div:nth-of-type(2) {font-size: 10px;}
  .popup_link {font-size: 10px;}
  .popup_cancel {padding: 10px;}
  .popup_cancel >img {width: 10px;}
  .popup_troubleshooting {font-size: 10px;}
  .popup_box {padding: 0 20px 40px 20px;}

  .contact_title {font-size: 25px;}
  .contact_number {gap: 4px;} 
  .contact_number >img {width: 8px;}
  .contact_number >div {font-size: 12px;}
  .contact_github {padding: 0;}
  .contact_github >a {font-size: 12px;}
  .contact_github >a >img {width: 50px; height: 60px;}
  .contact_gmail >div {font-size: 12px;}
  .contact_gmail >img {width: 50px; height: 60px;}
  .contact_end {font-size: 14px;}
  .contact {padding: 120px 0;}
  .contact >div {gap: 60px;}

  .toast{
    font-size: 12px;
    left: 110px; 
    bottom: 420px;
    padding: 12px 20px;    
  }

  nav{display: none;}
}

